.root {
    -fx-background-color: #f0f0f0;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 0);
    -fx-padding: 20;
}

.player-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 5 0 5 0;
}

.player-label {
    -fx-background-color: #fafafa;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
}